---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Frequently Asked Questions"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('May 20 2025')}
  heroImage="/blog-placeholder-about.jpg"
>
  <section class="faq">
    <details>
      <summary>What is Plex?</summary>
      <p>Plex is a free service that allows you to share your media. By subscribing to a membership, you are given access to my server, which includes thousands of Movies and TV Shows.</p>
    </details>

    <details>
      <summary>Where is Plex available?</summary>
      <p>Plex is available in almost every country in the world. As long as you have internet access and a smart device, you will be able to access the server.</p>
    </details>

    <details>
      <summary>Where can I watch Plex?</summary>
      <p>You can watch Plex instantly online from your personal computer or any internet-connected device that offers the Plex app. This includes Amazon Fire TV, Android TV, Apple TV, Chromecast, Roku, smart TVs (LG, Hisense, Samsung, VIZIO), smartphones, tablets, game consoles, and more.</p>
    </details>

    <details>
      <summary>How much does it cost?</summary>
      <p>Memberships are currently priced at $10 per month.</p>
    </details>

    <details>
      <summary>How do I subscribe?</summary>
      <p>Just click on any of the "Subscribe Now" buttons. Once we receive confirmation, we will provide an account.</p>
    </details>

    <details>
      <summary>Do I need an account?</summary>
      <p>No, please do not make a Plex account. We will provide one for you.</p>
    </details>

    <details>
      <summary>What if something I want to watch is not available?</summary>
      <p>You can request any Movie or TV Show, and we will add it to our platform, usually within 24 hours.</p>
    </details>

    <details>
      <summary>Are there any restrictions or rules?</summary>
      <p>Please do not share your account with anyone outside of your household. If your friends are interested in the service, refer them here.</p>
    </details>
  </section>
</Layout>
