---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Frequently Asked Questions"
  pubDate={undefined}
  description="Lorem ipsum dolor sit amet"
  heroImage="/blog-placeholder-about.jpg"
>
  <section class="faq">
    <h4>What is Plex?</h4>
    <p>Plex is a free service that allows you to share your media. By subscribing to a membership, you are given access to my server, which includes thousands of Movies and TV Shows.</p>

    <h4>Where is Plex available?</h4>
    <p>Plex is available in almost every country in the world. As long as you have internet access and a smart device, you will be able to access the server.</p>

    <h4>Where can I watch Plex?</h4>
    <p>You can watch Plex instantly online from your personal computer or any internet-connected device that offers the Plex app. This includes Amazon Fire TV, Android TV, Apple TV, Chromecast, Roku, smart TVs (LG, Hisense, Samsung, VIZIO), smartphones, tablets, game consoles, and more.</p>

    <h4>How much does it cost?</h4>
    <p>Memberships are currently priced at $10 per month.</p>

    <h4>How do I subscribe?</h4>
    <p>Just click the <a href="https://sharkvalleyplex.com" style="color: #8380F5; font-weight: 600;">Subscribe</a> button on the home page. Once we receive confirmation, we will provide an account.</p>

    <h4>Do I need an account?</h4>
    <p>No, please do not make a Plex account. We will provide one for you.</p>

    <h4>What if something I want to watch is not available?</h4>
    <p>You can request any Movie or TV Show, and we will add it to our platform, usually within 24 hours.</p>

    <h4>Are there any restrictions or rules?</h4>
    <p>Please do not share your account with anyone outside of your household. If your friends are interested in the service, refer them here.</p>
  </section>
</Layout>
