---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Shark Valley Plex. All rights reserved.
  <div class="logo-link" style="margin-top: 1em;">
    <a href="https://www.sharkvalleyplex.com" target="_blank" rel="noopener noreferrer">
      <img 
        src="/images/Shark Valley Logo.png" 
        alt="Shark Valley Plex Logo" 
        style="height: 48px; width: auto;"
      />
    </a>
  </div>
</footer>

<style>
  footer {
    padding: 2em 1em 2em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .logo-link a {
    display: inline-block;
  }
  .logo-link img {
    display: block;
    margin: 0 auto;
  }
</style>
