---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <h2>
      <a href="/">
        <img src="/images/os_logo_filled.png" alt="Shark Valley Plex Logo" height="40" />
      </a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="https://sharkvalleyplex.com/">Members</HeaderLink>
      <HeaderLink href="/faq">FAQ</HeaderLink>
    </div>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: #202938; /* dark background */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    color: #e5e9f0; /* lighter text for contrast */
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    color: #e5e9f0;
  }

  h2 img {
    height: 40px; /* Adjust as needed */
    vertical-align: middle;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    padding: 1em 0.5em;
    color: #e5e9f0; /* lighter link color */
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  .social-links,
  .social-links a {
    display: flex;
    color: #e5e9f0; /* make sure social icons inherit correct color */
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
